/* en esta seccion se ingresa la imagen de fondo con sus respectivos argumentos  */
body {
 text-align: center; 
 background-image: url(image_content_32110712_20181028181406.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 background-position: center;
}

/* en estas secciones se le dan sus distintos argumentos a cada seccion */
.calculadora {
    margin-top: 10px;
background-color: #342c39;
margin: 0 auto;
max-width: 400px;
max-height: 800px;
border-radius: 30px;
padding: 25px;
position: relative;
left: 400px;
}

.botonCalcular {
    background: transparent;
    color: beige;
    margin: 20px;
    width: 250px;
    height: 50px;
    border: 3px solid beige;
    border-radius: 30px;
    font-size: 20px;
    margin-bottom: 5px;
}

.botonLimpiar {
    background: transparent;
    color: beige;
    margin: 20px;
    width: 150px;
    height: 50px;
    border: 3px solid beige;
    border-radius: 30px;
    font-size: 17px;}

select {
    margin: 25px;
    background: transparent;
    border: 3px solid beige;
    border-radius: 30px;
    font-size: 20px;
    height: 50px;
    padding: 5px;
    width: 100px;
    color: beige;
}
.operador {
    background-color: #342c39;
}
.resultado {
    margin : 0 auto;


}

.entradas {
background-color: #342c39;
    border-radius: 120px;
    width: 160px;
    height: 60px;
    border: 3px solid beige;
    color: beige;
    font-size: 20px;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
}

p {
    border: 5px solid rgba(255, 255, 255, 0.671);
    margin : auto;
    width: 320px;
    height: 60px;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: beige;
    font-size: 140%;
}

::placeholder {
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}